{% extends "base.html" %}
{% block title %}Треки{% endblock title %}
{% block content %}
<!-- Выпадающий список для фильтрации -->
    <form method="post">
        {% csrf_token %}
        <select name="artist" onchange="this.form.submit()">
            <option value="">Все исполнители</option>
            {% for artist in artists %}
                {% if artist.id == current_artist.id %}
                    <option value="{{artist.id}}" selected>{{artist}}</option>
                {% else %}
                    <option value="{{artist.id}}">{{artist}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Длительность</th>
                <th>Жанры</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for t in tracks %}
                <tr>
                    <td>{{t.id}}</td>
                    <td>{{t.title}}</td>
                    <td>
                        {% if t.artist %}
                            {{ t.artist.name }}
                        {% else %}
                            Не указан
                        {% endif %}
                    </td>
                    <td>{{t.duration}}</td>
                    <td>
                        {% for g in t.genres.all %}
                            {{g.name_ru}}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/edit_track/{{ t.id }}/">Редактировать</a>
                    </td>
                    <td>
                        <a href="/delete_track/{{ t.id }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/add_track">Добавить трек</a></p>
{% endblock content %}
